---
import { TwicImg } from "@twicpics/components/react";
import type { Planet } from "../types";
import { getTransitionId } from "../utils";

interface Props {
  planet: Planet;
}

const { planet } = Astro.props;
const { cover, name, slug, subtitle } = planet;
---
<a
  class="group hover:shadow-lg hover:shadow-gray-500"
  href={ `/planet/${ slug }` }
>
  <div
    class="overflow-hidden bg-black"
    transition:name={ getTransitionId( planet, `container` ) }
  >
    <div class="group-hover:scale-110 rounded-sm transition-all">
      <TwicImg
          src={ cover }
          alt={ name }
          client:load
          mode="contain"
          refit="5p"
      />
    </div>
  </div>
  <div
    class="bg-gray-100 px-4 py-2 text-gray-600"
    transition:name={ getTransitionId( planet, `title` ) }
  >
    <h3 class="font-semibold truncate">{ name }</h3>
    <p class="text-sm truncate">{ subtitle }</p>
  </div>
</a>
